* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    src: url(../fonts/handwriting-black-draft_DEMO.otf);
    font-family: handwriting;
}

/* Handwriting font */
@font-face {
    src: url(../fonts/Minecrafter.Reg.ttf);
    font-family: minecraft;
}

/* Minecraft clean font */
@font-face {
    src: url(../fonts/Minecrafter.Alt.ttf);
    font-family: minecraft_cracked;
}

/* Minecraft cracked font */
@font-face {
    src: url(../fonts/LexendDeca-Regular.ttf);
    font-family: Lexend_Deca;
}

/*   <--  Portrait layout -->   */
.colorponker {
    background-color: hsl(59, 100%, 82%);
}

@media screen {
    .Neon {
        /* Empty color class*/
    }

    .material {
        /* Empty color class*/
    }

    body {
        -webkit-touch-callout: none;
        /* prevent callout to copy image, etc when tap to hold */
        -webkit-text-size-adjust: none;
        /* prevent webkit from resizing text to fit */
        -webkit-user-select: none;
        /* prevent copy paste, to allow, change 'none' to 'text' */
        font-family: Lexend_Deca, system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
        margin: 0px;
        padding: 0px;
        /* Padding to avoid the "unsafe" areas behind notches in the screen */
        padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
        height: 100vh;
        width: 100vw;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    /*  Footer navigtion  */
    .footnav {
        /* Footer meat */
        position: absolute;
        bottom: 0;
        left: 0;
        height: 13vw;
        width: 100vw;
        z-index: 100;

    }

    .Neon .footnav {
        background-color: rgb(0, 0, 0)
    }

    .material .footnav {
        background-color: rgb(46, 46, 46)
    }

    /* Navigation buttons */
    .navbtn,
    .navbtn_ative {
        /*  Buttons containing icons  */
        position: relative;
        height: 13vw;
        width: 33.33vw;
        border-radius: 4vw;
        float: left;
        transition: background-color 500ms;
        cursor: pointer;
    }

    .material .navbtn_ative {
        background-color: rgb(0, 173, 9);
    }

    @keyframes neon{
        0%{
            background-color: hsl(0,100%,40%);
        }
        10%{
            background-color: hsl(36,100%,40%)
        }
        20%{
            background-color: hsl(72,100%,40%)
        }
        30%{
            background-color: hsl(108,100%,40%);
        }
        40%{
            background-color: hsl(144,100%,40%);
        }
        50%{
            background-color: hsl(180,100%,40%);
        }
        60%{
            background-color: hsl(216,100%,40%);
        }
        70%{
            background-color: hsl(252,100%,40%);
        }
        80%{
            background-color: hsl(288,100%,40%);
        }
        90%{
            background-color: hsl(324,100%,40%);
        }
        100%{
            background-color: hsl(360,100%,40%);
        }
    }
    
    .Neon .navbtn_ative {
        animation: neon 15s linear infinite;
        background-color: rgb(0, 173, 9);
    }

    .navbtn .navcon,
    .navbtn_ative .navcon {
        /*  Relitiveistic icon positioning(shifting based on device type)  */
        background-size: contain;
        background-repeat: no-repeat;
        height: 13vw;
        width: 13vw;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        transition: transform 300ms;
    }

    .navbtn #setting_icon {
        background-image: url('../img/setting.webp');
        transform: rotate(0deg);
    }

    /*  Setting Icon  */
    .navbtn_ative #setting_icon {
        background-image: url('../img/setting.webp');
        transform: rotate(90deg);
    }

    .navbtn #table_icon {
        background-image: url('../img/icon.png')
    }

    /*  Table Icon  */
    .navbtn_ative #table_icon {
        background-image: url('../img/icon.png')
    }

    .navbtn #list_icon {
        background-image: url('../img/Clip-dark-closes.webp')
    }

    /*  List Icon  */
    .navbtn_ative #list_icon {
        background-image: url('../img/Clip-dark.webp')
    }


    mainview {
        /* main view screens */
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100% - 13vw);
        width: 100%;
        display: none;
        background-color: rgb(0, 0, 0)
    }

    /*  List view  */
    #list_view {
        overflow-y: scroll;
    }

    .Neon .eleiment_blob{
        /*  The scrollable rectabgular bars */
        position: relative;
        height: 25vw;
        width: 95vw;
        margin-top: 4vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4vw;
        overflow: hidden;
        cursor: pointer;
        transition: color 300ms, background-color 300ms;
        border-style: solid;
        border-width: 1vw;
        box-shadow: 0vw 0vw 5vw 0vw rgb(255, 255, 255);
    }

    .material .eleiment_blob{
        /*  The scrollable rectabgular bars */
        position: relative;
        height: 25vw;
        width: 95vw;
        border-radius: 5vw;
        background-color: rgb(128, 128, 128);
        margin-top: 4vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4vw;
        overflow: hidden;
        cursor: pointer;
        transition: color 300ms, background-color 300ms;
        text-shadow: 0vw 0vw 0.5vw #000;
        color: #fff;
        /*box-shadow: none!important;*/
    }
    .material .inverse{color:black!important;text-shadow: 0vw 0vw 0.5vw #fff!important;}

    .eleiment_blob:active {
        /*  Transition for effect  */
        color: rgb(0, 0, 0) !important;
        background-color: rgb(255, 255, 255) !important;
        text-shadow: 0vw 0vw 0.5vw #fff !important;
        transition-duration: 0ms !important;
    }

    /*  The semi-square with the eliment details  */
    .Neon .eliment_container {
        position: relative;
        height: 25vw;
        width: 25vw;
        /*background-color: cornflowerblue;*/
        /* begug color */
        border-right: 1vw solid;
        border-color: inherit;
    }

    .material .eliment_container {
        position: relative;
        height: 25vw;
        width: 25vw;
        background-color: cornflowerblue;
        /* begug color */
    }

    #detil_elem_color_container {
        border: none;
    }

    .eliment_container .acr {
        /* Eliment acronym */
        position: absolute;
        top: 3vw;
        height: 17vw;
        font-size: 15vw;
        right: 0;
        width: 100%;
        text-align: center;
        font-family: Lexend_Deca;
    }

    .eliment_container .standard_atomic {
        /* Top number */
        position: absolute;
        top: 0.5vw;
        right: 2vw;
        font-size: 6vw;
        width: 12vw;
        text-align: right;
    }

    .eliment_container .mass_number {
        /* Bottom number */
        position: absolute;
        bottom: 0vw;
        right: 0vw;
        font-size: 4.5vw;
        width: 100%;
        text-align: center;
    }

    /* Details to the right of the bar */
    .eliment_details {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 70vw;
    }

    .eliment_details .name {
        /* Name at top */
        position: absolute;
        top: 1vw;
        right: 0;
        height: auto;
        width: 100%;
        font-size: 8vw;
        text-align: center;
        font-family: Lexend_Deca;
    }

    .eliment_details .electron_config,
    .eliment_details .Oxidation {
        /* Electron shell numbers */
        position: absolute;
        bottom: 5.5vw;
        right: 31%;
        width: 67%;
        font-family: Lexend_Deca;
        font-size: 4vw;
        text-align: center;
        overflow: visible;
        white-space: pre-wrap;
    }

    .eliment_details .electron_config {
        bottom: 0.5vw
    }

    .eliment_details .group {
        /*  Class grouping  */
        position: absolute;
        bottom: 0.5vw;
        right: 3%;
        width: 30%;
        font-family: Lexend_Deca;
        font-size: 4vw;
        text-align: center;
    }

    /*  Table view  */
    #table_view {
        overflow: scroll;
    }

    /* Detail View */
    .Detail_view,
    .Detail_view_active {
        /* View repurposed to serve as an information pannel */
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
        z-index: 50;
        opacity: 1;
        transition: transform 300ms, opacity 300ms;
        transform: translate(0, 100%);
    }

    .Detail_view_active {
        display: block;
        opacity: 1;
        transform: translate(0, 0);
    }

    .Neon .sub_nav {
        /* Sub navigation (pannel to pannel) */
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 9vw;
        background-color: rgb(46, 46, 46);
        box-shadow: 0vw 0vw 6vw 0vw rgb(126, 126, 126);
        display: flex;
        flex-wrap: nowrap;

    }
    .material .sub_nav {
        /* Sub navigation (pannel to pannel) */
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 9vw;
        background-color: rgb(46, 46, 46);
        box-shadow:none!important;
        display: flex;
        flex-wrap: nowrap;

    }

    .Detail_btn,
    .Detail_btn_active {
        height: 100%;
        width: 50%;
        font-size: 6vw;
        background-color: rgb(46, 46, 46);
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .Detail_btn_active {
        border-bottom: 1vw solid;
    }

    #Detail_view #header {
        /* Header == Name of elimement at top */
        position: absolute;
        top: 10vw;
        width: 100vw;
        font-size: 10vw;
        font-family: Lexend_Deca;
        text-align: center;
        margin: none !important;
    }

    .sub_pane {
        /* basically scrollable sub views */
        overflow-y: scroll;
        position: absolute;
        top: 25vw;
        width: 100vw;
        height: auto;
        min-height: 75vh;
        padding-bottom: 3vw;
        transition: transform 300ms;
    }

    /*  Detail pannel  */
    #detail_pane {
        transform: translate(0, 0);
    }

    .background_representation_passive,
    .background_representation_active {
        /* Eliment background image */
        top: -12vw;
        left: 0;
        position: absolute;
        width: 100vw;
        height: 60vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/Eliments/1.webp');
        transition: all 300ms;
    }

    .background_representation_active {
        /*  Active image brought to front  */
        top: 0;
        height: 100vw;
        z-index: 100;
        background-size: contain;
    }

    .background_representation_passive #background_representation_description {
        display: none;
    }

    /* Background image with picture */
    .background_representation_active #background_representation_description {
        display: block;
        font-family: Lexend_Deca;
        position: absolute;
        left: 5vw;
        width: 90vw;
        white-space: pre-line;
        bottom: 0;
        text-align: center;
        font-size: 6vw;
        text-shadow: 0vw 0vw 2vw #000000, 0vw 0vw 4vw hsl(0, 0%, 0%);
    }

    #represent_shader {
        /* darken the detail table */
        z-index: 90;
        position: absolute;
        display: none;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }

    #detail_pane .eliment_container {
        /* Eliment square in the detail view */
        margin-left: 2vw;
        margin-top: 22vw;
        text-shadow: 0vw 0vw 0.5vw #000;
    }

    #detail_pane .acr {
        /* Eliment acronym */
        position: absolute;
        top: 2vw;
        height: 17vw;
        font-size: 16vw;
        right: 0;
        width: 100%;
        text-align: center;
        font-family: Lexend_Deca;
        color: inherit;
    }

    #detail_pane .standard_atomic {
        /* Top number */
        position: absolute;
        top: 0.5vw;
        right: 2vw;
        font-size: 6vw;
        width: 12vw;
        text-align: right;
        color: inherit;
    }

    #detail_pane .mass_number {
        /* Bottom number */
        position: absolute;
        bottom: 0vw;
        right: 0vw;
        font-size: 4.5vw;
        width: 100%;
        text-align: center;
        color: inherit;
    }

    .Neon .detail_table {
        /* Table with variety of eliment details */
        position: relative;
        margin-top: 4vw;
        table-layout: fixed;
        border-collapse: collapse;
        height: auto;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5vw;
        box-shadow: 0vw 0vw 3vw #0055ff;
        overflow: hidden;
    }
    .material .detail_table {
        /* Table with variety of eliment details */
        position: relative;
        margin-top: 4vw;
        table-layout: fixed;
        border-collapse: collapse;
        height: auto;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1vw;
        box-shadow: none!important;
        overflow: hidden;
    }

    .detail_table tr:nth-child(even) {
        background-color: rgb(36, 36, 36);
    }

    .detail_table tr:active {
        color: black;
        background-color: white;
        transition: background-color 0ms;
    }

    .detail_table td,
    .detail_table th {
        font-family: Lexend_Deca;
        padding-top: 2vw;
        padding-bottom: 2vw;
        font-size: 4.5vw;
        text-align: center;
        align-content: center;
        transition: background-color 300ms;
    }

    .detail_table th {
        font-size: 7vw;
        text-shadow: 0vw 0vw 3vw #000000;
    }

    .sub_table {
        font-size: 4vw;
        position: relative;
        table-layout: fixed;
        border-collapse: collapse;
        height: auto;
        width: 100%;
    }

    .sub_table tr {
        background: none !important;
    }

    .enabled {}

    .dissabled {
        color: grey !important;

    }

    #spectrum_bar {
        position: relative;
        width: 100%;
        background-image: linear-gradient(90deg, hsl(0, 0%, 0%), hsl(235, 100%, 50%), hsl(172, 100%, 50%), hsl(125, 100%, 50%), hsl(59, 100%, 50%), hsl(0, 100%, 50%), hsl(0, 0%, 0%));
        height: 8vw;
    }

    #spectrum_bar .spectrum_neddle {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 80%;
        width: 0;
        border-left: 0.5vw solid rgb(255, 255, 255);
        box-shadow: 0vw 0vw 0.5vw 0vw #000;
    }

    /*  Isotope pannel  */
    #isotope_pane {
        transform: translate(100%, 0);
    }

    .isotopic_container {
        /* Bars in disguise */
        position: relative;
        height: 35vw;
        width: 100vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .model_container {
        /*Container for isotopic models (canvas will be placed inside)*/
        position: absolute;
        top: 0;
        left: 0;
        height: 35vw;
        width: 35vw;
        background-size: cover;
        background-image: url('../img/electrons/atom-prototype.webp');
        background-repeat: no-repeat;
        background-position: center;
    }

    .isotope_detail {
        /* Details to the right of the isotope model */
        position: absolute;
        top: 0;
        left: 35vw;
        height: 35vw;
        width: 65vw;
        overflow-x: scroll;
    }

    .isotope_detail table {
        /* Table with variety of eliment details */
        table-layout: fixed;
        border-collapse: collapse;
        height: 100%;
        width: 100%;
    }

    .isotope_detail td,
    th {
        font-family: Lexend_Deca;
        padding-top: 0.7vw;
        padding-bottom: 0.7vw;
        font-size: 4vw;
        text-align: center;
        align-content: center;
        transition: background-color 300ms;
    }

    .isotope_detail th {
        font-size: 5.5vw;
    }


    /*  Setting view  */
    #setting_view {
        overflow-y: scroll;
    }

    .setting_toggle {
        /* trigger for switch (may also be a tap button) */
        position: relative;
        width: 100%;
        height: 6vh;
        margin-top: 1vh;
        cursor: pointer;
        font-size: 5vh;
        text-align: center;
    }

    .setting_toggle .text {
        /* Text in teh setting toggle ofset by the width of the switch */
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 86vw;
    }

    /* Switches in the .setting_toggle */
    .switch_container_active,
    .switch_container_dissabled {
        /*Switch containment*/
        position: absolute;
        transform: translate(12vh, 0);
        top: 0vh;
        right: 13vh;
        width: 12vh;
        height: 5vh;
        border: 0.5vh solid;
        border-radius: 5vh;
        cursor: pointer;
    }

    .switchbdy {
        /*Body of the switch*/
        position: absolute;
        width: 12vh;
        height: 5vh;
        border-radius: 5vh;
        cursor: pointer;
        transition: background-color;
        transition-duration: 300ms;
    }

    .switch_knob {
        /* Switch knob */
        top: 0.2vh;
        right: 0.2vh;
        position: absolute;
        height: 4.6vh;
        width: 4.6vh;
        border-radius: 50%;
        z-index: 1;
        transform: translate(0px
                /*-39px*/
                , 0);
        transition: transform, background-color;
        transition-duration: 300ms;
    }

    .switch_container_dissabled .switch_knob {
        /* dissabled switch, switch knob moved relitive to width of  */
        transform: translate(-7vh, 0);
    }

    .switch_container_active {
        background-color: rgb(0, 0, 0);
    }

    .switch_container_active .switchbdy {
        background-color: rgb(0, 0, 0);
    }

    .switch_container_active .switch_knob {
        background-color: rgb(255, 255, 255);
    }

    .switch_container_dissabled {
        background-color: rgb(0, 0, 0);
        border: 0.5vh solid rgb(122, 122, 122);
    }

    .switch_container_dissabled .switchbdy {
        background-color: rgb(0, 0, 0);
    }

    .switch_container_dissabled .switch_knob {
        background-color: rgb(122, 122, 122);
    }
}

/*    <--  Landscape layout (with min-width) -->     */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {}